html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  user-select: none;
}

*[matRipple] {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.avatar-container {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.avatar {
  width: 40px;
  height: 40px;
  background: var(--mat-sys-surface-bright);
  border-radius: 50%;
}

.avatar-container div {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
